/* default styles
   -------------- */
   
body { 
	padding: 0; 
	margin: 0; 
}

/* layout
   ------ */

.content { 
	margin: 10px auto;
	width: 80%; /*width: 760px;*/
}

.header { 
	border-bottom: 1px solid #eee;
}

.title {
	font-family: 'Comfortaa', cursive;
	font-style: italic;
	line-height: 1.5em;
	text-decoration: none;
	font-size: 2.7em;
}

.title:hover {
	text-decoration: none;
	font-size: 2.7em;
	color: #5CB85C;
}

.title_article {
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
}

.title_article:hover {
	text-decoration: none;
	font-size: 1.5em;
	color: #5CB85C;
}

.read_more {
	padding-left: 10px;
	background: #FFF url(../images/img/arrow.gif) no-repeat center left; 
	text-decoration: none;
}

.read_more:hover {
	background: #FFF url(../images/img/arrow_backward.gif) no-repeat center left; 
	text-decoration: none;
	color: red;
}

.date_article {
	color: #BDBDBD; /*lightgrey*/
}

.top_info {
	float: right;
	width: 100%; /*width: 570px;*/
	padding: 0 0 4px 0;
	border-bottom: 1px solid #eee;
}

	.top_info_left {
		width: 50%;/*width: 240px;*/
		float: left;
	}

	.top_info_right {
		float: right;
		width: 40%;/*width: 290px;*/
		padding: 0 0 0 35px;
		border-left: 1px solid #eee;
	}

.bar { 

	clear: both;
	font-size: 1.1em;
	height: 30px; 
	margin-left: 25%;
}

	.bar ul {
		list-style : none;
	}

	.bar li { 
		margin: 0; 
		padding: 4px 10px 8px 10px;
		color: #808080;
		background: #FFF;
		float: left; 
	}
	
	.bar li .active { 
		background: #FFF url(../images/img/bar.gif) no-repeat center bottom; 
		color: #9EC068;
		font-weight: bold; 
		padding-bottom: 8px; 
	}

	.bar a { 
		font-weight: bold;
		color: #4A8EBC; 
		background: inherit;	
	} 

.search_field { 
	background: #C5E243; /*<- green*//*background: #DCF2B8 url(barbg.gif) no-repeat; */
	color: #000;
	border-top: 1px solid #799350;
	border-bottom: 1px solid #799350;
	clear: both;
	text-align: center; 
	/*padding: 10px 0 5px 0;*/
	border-radius: 5px;
}

.search_field  .form-search {
	margin: 10px 0 10px 0;
}

.slider {

	margin: 10px 0 10px 0;
	padding: 8px;
	background: #F4F4F4; /*<- lightgrey*//*background: #f4f4f4 url(subheaderbg.gif) no-repeat;*/
	color: #808080;
	border-radius: 5px;
}

.slider img {
	width: 100%;
	height: auto;
	
}

/* left side
   --------- */

.left {
	float: left;
	width: 65%;/*width: 435px;*/
	margin: 0 0 10px 0;
}
	.left_articles {
		margin: 0 0 10px 0;
		padding:8px;
		text-align: justify;
		border: 1px solid #eee;
	}
	
	.left_articles a {
		text-decoration: none;
	}
	
	.left_articles img {
		width: 15%;
		height: auto;
		float:left;
		padding: 0 10px 10px 0;
	}
	
	.left_articles:hover {
		border: 1px solid #ccc;
	}
	
/* right side
   ---------- */
		
.right {
	float: right;
	width: 30%; /*width: 310px;*/
	padding: 10px;
}

	.right_login {
		width: 100%;
		/*padding: 5px;*/
		background: #FFD100; /*<- yellow*//*background: #A9D4F2;*/
		color: #246088;
		border-top: 1px solid #799350;
		border-bottom: 1px solid #799350;
		border-radius: 5px;

	}
	
	.right_login  .form-inline {
	margin: 10px 11px 10px 17%;
}

	.right_articles {
		border: 1px solid #eee;
		padding: 8px;	
		margin: 0 0 10px 0;
		text-align: justify;
	}
	
	.right_articles  img {
		float: left;
	}
	
	.latest_news {
		padding: 5px;
		font-weight:bold;
		font-size: 1.1em;
		text-align: center;
		border: 1px solid #eee;
	}
	
	.right_articles:hover {
		border: 1px solid #ccc;
	}
	
/*categiries*/	
	.right_categories {
		border: 1px solid #eee;
		margin: 0 0 10px 0;
		text-align: center;
	}
	
	.right_categories a{
		font-weight:bold;
		margin: 5xp auto;
		text-decoration: none;

	}
	
	.right_categories a:hover {
		text-decoration: none;
	}
		
.image {
	float: left;
	margin: 0 9px 3px 0;
}

.pagination {
	clear: both; 
	float:left;
	text-align: center;
	padding: 5px;
	margin: 10px auto;
	width: 65%;
}

/* footer
   ------ */

.footer { 
	clear: both; 
	text-align: center;
	line-height: 1.8em;
	color: #808080;
	background: #FFF;
	padding: 10px 0 10px 0;
	border-top: 1px solid #eee;
}

.footer a {
	color: #9EC068;
	background: #fff;
}